@keyframes diagonal-slide {
  0% {
    opacity: 0;
    transform: translate(-6px, 6px); /* bas gauche */
  }
  50% {
    opacity: 1;
    transform: translate(0, 0); /* normal */
  }
  100% {
    opacity: 0;
    transform: translate(6px, -6px); /* haut droite */
  }
}

.group:hover .arrow-anim {
  animation: diagonal-slide 0.2s linear forwards;
  opacity: 1 !important;
}
